.time_list {
    margin-bottom: 2em;
}

.time_list li {
    margin: 1.5em;
    font-size: 1.3rem;
}

.time_list li:hover {
    cursor: initial;
    background-color: initial;
}

.reg_success_info {
    font-size: 1.3rem;
    margin-bottom: 4rem;
}